@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&family=Inter:wght@500&family=Roboto+Mono&family=Ropa+Sans&display=swap");

* {
  scroll-behavior: smooth;
}
/* Dat time theme for page */
#body1 {
  background-image: url("/Users/robertlopez/sei/unit2/project2/project-2-portfolio/project-2-portfolio/surfsd/src/ProjectImages/0bc0e1889fcc16e848d65d0060b83001.jpg");
}
/* Night time theme for page */
#body2 {
  background-image: url("/Users/robertlopez/sei/unit2/project2/project-2-portfolio/project-2-portfolio/surfsd/src/ProjectImages/sub-buzz-1536-1599797601-11.jpg");
}

/* Below is some code for a button design, 
I wanted to play around with CSS to try and get a better understanding of how animations work. 
Link: https://codepen.io/mccombsc/pen/ZEzxWPy */

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: 12px;
  color: rgb(255, 255, 255);
  letter-spacing: 1.3px;
  font-weight: 900;
  background: #4fd1c5;
  background: linear-gradient(90deg, orange 10%, rgb(0, 183, 255) 100%);
  border: none;
  border-radius: 100px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
}

button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(80px + 12px);
  min-height: calc(30px + 12px);
  border: 6px solid white;
  box-shadow: 0 0 60px orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

button::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

.content {
  font-family: "Exo";
  color: #eee;
  text-align: center;
  background-image: linear-gradient(180deg, #2d55aa, rgb(24, 26, 34));
  /* background-color: #2d55aa; */
  text-align: center;
  min-height: 75vh;
  margin: -0.1em 0 0 0;
  padding: 1em;
}
.content h1 {
  margin-top: -1.8em;
  font-weight: 100;
  font-size: 5em;
  user-select: none;
  cursor: default;
}
#SD,
#homeButton,
#SDTablet {
  font-weight: 900;
  transform: skew(-15deg);
  font-size: 1em;
  padding-left: 0em;
  padding-right: 0em;
}
#SDMobile {
  transform: skew(-15deg);
  margin-top: -1em;
}

.homeNav {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: center;
  font-size: 1.5em;
  line-height: 2.5em;
}

#hl {
  /* font-weight: 900; */
  padding-top: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

section {
  padding: 1em;
  line-height: 1;
  text-align: left;
}

#mainTitle {
  font-weight: 900;
  text-align: center;
  color: rgb(109, 250, 116);
  font-size: 50px;
  margin: 0;
  /* padding: 0; */
}

#description {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin: 1em;
  padding: 0;
  line-height: 26pt;
}

#specifcs {
  color: orange;
  font-size: 24px;
  margin: 2em;
  padding: 0;
  line-height: 26pt;
  text-transform: lowercase;
}
/* This is just to change the color of the numbers in front
of each sepcific tab */
#color {
  color: white;
}

#currently {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: rgb(255, 254, 251);
  margin: 0.1;
  padding-top: 1em;
}

#conditions {
  color: orange;
  font-size: 24px;
  margin: 2em;
  padding: 0;
  line-height: 26pt;
  text-align: center;
  border: 6px solid;
  border-color: burlywood;
  text-transform: lowercase;
}
/* Changing the color of the API input */
#color2 {
  color: rgb(109, 250, 116);
}

#tagline {
  color: orange;
  font-size: 18px;
  font-weight: 400px;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}

/* Formating for the different sized logos for different size screens */

/* --------------------------------------------------------------------MOBILE --------------------------------------------------------------------*/
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  body {
    margin: 0;
    max-height: 100vh;
    padding: 8em 0 0 0;
  }

  #description,
  #summary,
  #conditions,
  #specifcs {
    font-size: 20px;
  }
  #SD,
  #SDTablet,
  #tagline,
  .button {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-gap: 10px;
  }
  .container .homeNavDiv {
    padding-top: 16px;
    grid-column: 1fr;
    grid-row: 1fr;
  }
  .container .summary {
    padding-top: 16px;
    grid-column: 1fr;
    grid-row: 1fr;
  }
  .container .section {
    padding-top: 16px;
    grid-column: 1fr;
    grid-row: 1fr/2fr;
  }
  .homepage .currently {
    grid-column: 1fr;
    grid-row: 2fr;
  }
}
/* --------------------------------------------------------------------TABLET-------------------------------------------------------------------- */
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 577px) {
  body {
    padding: 10em 0 0 0;
  }
  #SDTablet {
    font-size: 5em;
  }
  #SDMobile,
  #SD {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-gap: 10px;
  }
  .container .summary {
    padding-top: 16px;
    grid-column: 1fr;
    grid-row: 1fr;
    padding-left: 4em;
    padding-right: 4em;
  }
  .homepage .currently {
    grid-column: 1fr;
    grid-row: 2fr;
    padding-left: 4em;
    padding-right: 4em;
  }
}
/* --------------------------------------------------------------------DeskTop-------------------------------------------------------------------- */
/* Large devices (tablets, 1024 and up) */
@media screen and (min-width: 769px) {
  body {
    padding: 12em 0 0 0;
  }
  #SD {
    display: block;
    font-size: 5em;
  }
  #SDMobile,
  #SDTablet {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-gap: 10px;
  }
  .container .summary {
    padding-top: 16px;
    grid-column: 1fr;
    grid-row: 1fr;
    padding-left: 8em;
    padding-right: 8em;
  }
  .homepage .currently {
    grid-column: 1fr;
    grid-row: 2fr;
    padding-left: 8em;
    padding-right: 8em;
  }
}
