* {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #323232;
  margin: 0;max-height: 100vh; 
  padding: 9em 0 0 0;
  background: linear-gradient(110deg, #18181a 48.6%, #1c285a 48.6%); 
}

ul {
  display: flex;
  padding-left: 1em;
  font-size: 16px;
  align-content: center;
  margin: 0px;
}
.navbar{
  align-content: center;
}
section {
  padding: 1em;
  line-height: 1;
  text-align: left;
}
#mainTitle {
  text-align: center;
  color: rgb(109, 109, 250);
  font-family: "Inter", sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
}
#description {
  color: orange;
  font-size: 18px;
  margin: 0.1;
  padding: 0;
}
#specifcs {
  color: orange;
  font-size: 18px;
  margin: 0.1;
  padding: 0;
}
#currently {
  color: rgb(255, 254, 251);
  font-size: 28px;
  margin: 0.1;
  padding: 0;
}
#conditions {
  color: orange;
  font-size: 18px;
  margin: 0.1;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}
#SDMobile {
  margin-top:-1em;
  font-weight: 100;
  font-size: 5em;
  user-select:none;
  cursor: default;
}
/* --------------------------------------------------------------------MOBILE --------------------------------------------------------------------*/
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  body {
    background-color: #323232;
    margin: 0;max-height: 100vh; 
    padding: 4em 0 0 0;
  }
  #SD, #tagline, .navbar{
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-gap: 10px;;
  }
  .container .summary {
    padding-top: 16px;
    grid-column: 1fr;
    grid-row: 1fr;
  }
  .homepage .currently {
    grid-column: 1fr;
    grid-row: 2fr;
  }
}
/* --------------------------------------------------------------------TABLET-------------------------------------------------------------------- */
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 577px) {

  body {
    padding: 8em 0 0 0;
  }

  #SDMobile {
    display:none
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-gap: 10px;
  }
  .container .summary {
    padding-top: 16px;
    grid-column: 1fr;
    grid-row: 1fr;
    padding-left:4em;
    padding-right:4em;
  }
  .homepage .currently {
    grid-column: 1fr;
    grid-row: 2fr;
    padding-left:4em;
    padding-right:4em;
  }
}
/* --------------------------------------------------------------------DeskTop-------------------------------------------------------------------- */
  /* Large devices (tablets, 1024 and up) */
  @media screen and (min-width: 769px) {
    body {
      padding: 10em 0 0 0;
    }
    #SDMobile {
      display:none
    }
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr;
      grid-gap: 10px;
    }
    .container .summary {
      padding-top: 16px;
      grid-column: 1fr;
      grid-row: 1fr;
      padding-left:6em;
      padding-right:6em;
    }
    .homepage .currently {
      grid-column: 1fr;
      grid-row: 2fr;
      padding-left:6em;
      padding-right:6em;
    }
  }
  